/* 样式初始化 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
    /*FF*/
}
textarea{
    border:none;
    padding:0;
    margin:0;
    outline:none;
}
ul,
li {
    list-style: none;
}

body {
    line-height: 1;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #757575;
    font-size:13px;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #757575;
    font-size:13px;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #757575;
    font-size:13px;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #757575;
    font-size:13px;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    bblr: expression(this.onFocus=this.blur());
    /*IE*/
    outline-style: none;
    /*FF*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.ab{
    position:absolute;
}
.rl{
    position:relative;
}
.required{
    color:red!important;
}

/*css为clearfix，清除浮动*/

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 1170px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
}


/*********登录页面样式**********/

.login-html,
.login-html body {
    height: 100%
}

.login-containter {
    height: 100%;
    position: relative;
    min-height: 660px;
    max-height: 800px;
    background: #efefef;
}

.login-head {
    background: #fff;
}

.login-head-center {
    width: 1006px;
    margin: 0 auto;
    height: 110px;
}

.login-head .logo,
.head-con .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600;
    letter-spacing: 5px;
    padding-left: 50px;
    background: url(../img/logo.png) left center no-repeat;
    margin-top: 35px;
}

.login-head .logo p,
.head-con .logo p {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -1px;
    margin-top: 5px;
}

.login-con {
    position: absolute;
    top: 110px;
    bottom: 90px;
    width: 100%;
}

.login-con .carousel {
    min-height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
}

.login-con .carousel-list>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    display: none;
    background-size: auto 100%!important;
}

.login-con .slideBox .hd,
.cardScroll .hd {
    height: 15px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.login-con .slideBox .hd ul,
.cardScroll .hd ul {
    overflow: hidden;
    z-index: 100;
}

.login-con .slideBox .hd ul li,
.cardScroll .hd ul li {
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.slideBox .hd ul li.on,
.cardScroll .hd ul li.on {
    background: #fff !important;
}

.login-center {
    width: 1006px;
    height: 100%;
    top: 0;
    left: 50%;
    margin: 0 -503px;
    position: absolute;
}

.login-box {
    width: 350px;
    height: 360px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -180px;
}

.login-form {
    margin: 65px 22px 0;
}

.login-form>input {
    width: 100%;
    line-height: 38px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    outline: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 10px 0 36px;
    font-size: 16px;
}

.login-form .login-name {
    background: url(../img/user.png) 9px center no-repeat;
}

.login-form .login-password {
    background: url(../img/password.png) 11px center no-repeat;
}

.login-form>input:focus {
    border-color: #8ddece;
}

.login-form label {
    color: #666666;
}

.login-form label input[type='checkbox']+span,
.scriptTable label input[type='checkbox']+span,
.scriptSetInput label input[type='checkbox']+span {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: sub;
    background: url(../img/check_box.png) center no-repeat;
}

.login-form label input,
.scriptTable label input,
.scriptSetInput label input {
    display: none;
}

.login-form label input:checked+span,
.scriptTable label input:checked+span,
.scriptSetInput label input:checked+span {
    border: none;
    background: url(../img/check_box_hov.png) center no-repeat;
}

.nobg-label input:checked+span{
    background:none!important;
}

.login-form button {
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #1abc9c;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    margin-top: 30px;
    outline: none;
}

.login-form button:hover {
    background: #00af8d;
}

.login-foot {
    background: #efefef;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.login-foot p {
    width: 1006px;
    margin: 0 auto;
    color: #999;
    text-align: center;
    padding: 35px 0 40px;
}

.containter {
    position: relative;
    background: #f7f7f7;
    height: 100%;
}


/**************页面头部样式**************/

.containter .head {
    height: 75px;
    background: #e67e22;
}

.containter .head .head-con {
    width: 90%;
    margin: 0 auto;
}

.head-con .logo {
    color: #fff;
    margin-top: 17px;
    margin-right: 55px;
}

.head-con .nav li {
    float: left;
    margin-right: 20px;
}

.head-con .nav li a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 75px;
    line-height: 75px;
    position: relative;
}

.head-con .nav li a::after {
    position: absolute;
    content: '';
    width: 0px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #d35400;
    height: 5px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.head-con .nav li:hover a::after {
    width: 100%;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.head-con .nav li.on a::after {
    width: 100%;
}

.head-con .user-operate {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-top: 22px;
    cursor: pointer;
}

.user-operate .head-img {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
}

.head-con .user-operate span {
    padding-right: 20px;
    line-height: 30px;
    background: url(../img/user_arrow.png) right center no-repeat;
}

.user-operate ul {
    width: 140px;
    position: absolute;
    right: 0;
    top: 53px;
    z-index: 9999;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .3);
}

.user-operate ul li {
    line-height: 36px;
    background: #fff;
    font-size: 12px;
    color: #666666;
    padding-left: 45px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

.user-operate ul li:hover {
    background-color: #1abc9c;
    color: #fff;
}

.user-operate ul .edit-info {
    background-position: 24px 10px;
}

.user-operate ul .edit-password {
    background-position: 24px -25px;
}

.user-operate ul .quit {
    background-position: 24px -61px;
}

.user-operate ul .help {
    background-position: 24px -96px;
}

.user-operate ul .edit-info:hover {
    background-position: -127px 10px;
}

.user-operate ul .edit-password:hover {
    background-position: -127px -25px;
}

.user-operate ul .quit:hover {
    background-position: -127px -61px;
}

.user-operate ul .help:hover {
    background-position: -127px -96px;
}


/***************左侧菜单样式***************/

.containter>.main {
    position: absolute;
    width: 90%;
    top: 85px;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
}

.main .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    border: 1px solid #f1f1f1;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

.left .left-con {
    position: absolute;
    top: 48px;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.left .left-title {
    background-color: #e67e22;
    color: #fff;
    font-size: 20px;
    line-height: 48px;
    padding-left: 48px;
    background-repeat: no-repeat;
}

.left .class-a {
    margin-bottom: 5px;
}

.left .class-b,
.left .class-c,
.left .class-d {
    display: none
}

.left .class-a a {
    background-repeat: no-repeat;
    display: block;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left .class-a a.active {
    color: #ff6600!important;
}

.left .class-a>a {
    background-color: #ffeee3;
    line-height: 48px;
    color: #333;
    font-size: 18px;
    padding-left: 50px;
}

.left .class-b {
    padding-bottom: 15px;
}

.left .class-b>li>a {
    height:37px;
    line-height: 37px;
    padding-left: 80px;
    font-size: 16px;
}

.left .class-c>li>a {
    height:25px;
    line-height: 25px;
    padding-left: 105px;
}

.left .class-d>li>a {
    line-height: 25px;
    padding-left: 130px;
}

.left a>.menu-arrow {
    float: right;
    margin-right: 18px;
    margin-top: 19px;
    width: 16px;
    height: 10px;
    background: url(../img/menu_arrow.png) 0 -49px no-repeat;
}

.left a>span.menu-arrow.on {
    background: url(../img/menu_arrow.png) 0 0px no-repeat;
}

.left .class-b a>span.menu-arrow {
    margin-top: 14px;
}

.left .class-c a>span.menu-arrow {
    margin-top: 7px;
}


/***************右侧内容样式**************/

.main .right {
    position: absolute;
    top: 0;
    left: 335px;
    right: 0;
    height: 100%;
}

.right .right-top {
    height: 46px;
    width: 100%;
    border: 1px solid #e4e4e4;
    background: #fff;
}

.right-top-search {
    position: relative;
    height: 30px;
    margin-top: 8px;
    margin-right: 20px;
    border-radius: 15px;
    width: 155px;
    padding-left: 35px;
    background: url(../img/search_bg.png) #efefef 10px center no-repeat;
}

.right-top-search ul {
    position: absolute;
    background: #fff;
    top: 33px;
    left: 0;
    width: 100%;
    z-index: 2;
    font-size:13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}

.right-top-search ul li {
    line-height: 40px;
    color: #666;
    text-align: center;
    cursor: pointer;
}

.right-top-search ul li:hover {
    background: #1abc9c;
    color: #fff;
}

.right-top .right-top-title {
    font-size: 20px;
    color: #666;
    padding-left: 45px;
}

.right-top-search input {
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: #999;
    border: none;
    background: none;
    outline: none;
}

.right-con {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    bottom: 0;
    border: 1px solid #e4e4e4;
    background: #fff;
    overflow-y: auto;
}

.right-con iframe {
    border: none;
    width: 100%;
    display: block;
}

.right .left-arrow {
    position: absolute;
    width: 11px;
    height: 19px;
    background: url(../img/hide_left.png) center no-repeat;
    left: -11px;
    top: 200px;
    cursor: pointer;
}

.right .left-arrow.show {
    background: url(../img/show_left.png) center no-repeat;
}


/***************我的工作台样式**************/

.my-project .left-title {
    background-image: url(../img/project_menu.png);
    background-position: 20px 14px;
}

.my-project .class-a a {
    background-image: url(../img/project_menu.png);
}

.my-project .class-a>a {
    background-position: 23px -32px;
}

.my-project .class-b a {
    background-position: 23px -82px;
}

.my-project .class-c a {
    background-position: 23px -119px;
}

.my-project .class-d a {
    background-position: 46px -115px;
}

.my-project .right-con {
    background: none;
    border: none;
}

.my-project .right-top-title {
    background: url(../img/project_title.png) 20px center no-repeat;
}

.add-project span {
    line-height: 50px;
    color: #666;
    padding-left: 20px;
    cursor: pointer;
    background: url(../img/add_project.png) left center no-repeat;
}

.add-project span:hover {
    color: #f60;
    background: url(../img/add_project_hov.png) left center no-repeat;
}

.project-page {
    position: relative;
}
.project-page .info-box{
    padding-bottom:20px;
}
.bgfff{
    background-color:#fff!important;
}

.project-page .card-box {
    overflow: hidden;
}

.project-page .card-box ul {
    width: calc(100% + 26px);
}

.project-page .card-box li {
    width: 190px;
    box-sizing: border-box;
    float: left;
    margin-right: 24px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
    overflow: hidden;
}

.card-box li .card-title {
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.bg1 {
    background-color: #f39c12!important;
}

.color1 {
    color: #1abc9c!important;
}

.color2 {
    color: #ff0000!important;
}
.color3{
    color:#a6a6a6!important;
}

.input-row .con-div{
    border:1px solid #e0e0e0;
    padding-left:13px;
    line-height:36px;
}
.con-div .example-text{
    color:#757575;
    font-size:13px;
}
.add-icon,.depart-icon{
    width:17px;
    height:17px;
    top:9px;
    right:10px;
    cursor:pointer;
}
.add-icon{
    background:url(../img/add_project.png) no-repeat center #fff;
}
.con-div span{
    float: left;
    line-height: 24px;
    margin: 5px 8px 5px 0;
    display: inline-block;
}
.add-span{
    position:relative;
    padding-right:20px;
}
.del-icon{
    position:absolute;
    width:16px;
    height:16px;
    right:0;
    top:4px;
    cursor:pointer;
    background:url(../img/del-icon.png) no-repeat right center;
}
.del-icon:hover{
    background:url(../img/del-hov.png) no-repeat center;
}


.bg2 {
    background-color: #2ecc71!important;
}

.bg3 {
    background-color: #3498db!important;
}

.bg4 {
    background-color: #9b59b6!important;
}

.bg5 {
    background-color: #1abc9c!important;
}

.bg6 {
    background-color: #e67e22!important;
}

.bg7 {
    background-color: #e74c3c!important;
}

.bg8 {
    background-color: #d1d1d1!important;
}

.card-box li .card-con {
    padding: 10px 25px 15px;
    height: 88px;
}

.card-con p {
    line-height: 26px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.card-con p span {
    margin-left: 10px;
}


/**************修改个人信息弹框**************/

.revise-info {
    padding: 28px 65px 0;
}

.revise-modify{
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-top: 10px!important;
}
#reviseInfo .revise-modify1{
    padding-top:0;
}

.input-row {
    overflow: hidden;
    margin-top: 16px;
}

.input-row>span.fl {
    width: 70px;
    text-align: right;
    line-height: 36px;
    font-size: 14px;
    margin-right: 10px;
    /*color: #999;*/
}
.checkbox-div {
    line-height: 36px;
}
.text-span1{
    width:20px!important;
}
.text-span2{
    width:40px!important;
}
.text-span3{
    width:60px!important;
}
.placeholder{
    color:#fff!important;
}
.time-select{
    min-width:80px;
}
.no-div{
    width:80px;
}
.intro-p{
    text-align:center;
    margin:10px 0;
}
.intro-p span{
    color:#e67e22;
}
.input-row>div {
    overflow: hidden;
}

.input-row>div input {
    width: 100%;
    height: 36px;
    border: none;
    color: #666;
    text-indent: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    outline: none;
}

.input-row>div input:focus {
    border-color: #1abc9c;
}

.input-row>div input[readonly] {
    background: #eee;
}

.input-row>div input[readonly]:focus {
    border-color: #e0e0e0;
}

.input-row>div select {
    text-indent:10px;
    width: 100%;
    border: 1px solid #e0e0e0;
    color: #666;
    height: 36px;
    outline: none;
}

.input-row>div select:focus option:focus {
    outline: none;
    background: #1abc9c;
    color: #fff;
}

.input-row>div select:focus {
    border: 1px solid #1abc9c;
}

.head-upload #preview {
    width: 81px;
    height: 81px;
    overflow: hidden;
    background: #eee;
    border-radius: 50%;
}

.head-upload span.fl {
    line-height: 81px;
}


/********* UI自动化 *********/

.ui-automation .left-title {
    background-image: url(../img/automation_menu.png);
    background-position: 20px 11px;
}

.ui-automation .class-a a {
    background-image: url(../img/automation_menu.png);
}

.ui-automation .class-a:nth-child(1) a {
    background-position: 23px -32px;
}

.ui-automation .class-a:nth-child(2) a {
    background-position: 23px -84px;
}

.ui-automation .class-a:nth-child(2) .class-b a {
    background-position: 23px -138px;
}

.ui-automation .class-a:nth-child(2) .class-c a {
    background-position: 48px -144px;
}

.ui-automation .class-a:nth-child(3) a {
    background-position: 23px -192px;
}

.ui-automation .right-top-title {
    background: url(../img/project_title.png) 20px center no-repeat;
}

.ui-rightBg .right-con {
    background: none;
    border: none;
}

.col-3 {
    width: 33.333%;
    display: inline-block;
    float: left;
}

.cardScroll {
    margin-top: 70px;
}

.cardScroll .hd {
    position: absolute;
    z-index: 2;
    top: 385px;
    width: 100%;
}

.cardScroll .hd a {
    position: absolute;
    top: -235px;
    display: inline-block;
    width: 18px;
    height: 48px;
    border: 1px solid #c4c4c4;
    background: #fff;
    cursor: pointer;
    background-image: url(../img/card_arrow.png);
    background-repeat: no-repeat;
}

.cardScroll .hd a.next {
    right: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-position: -45px -19px;
}

.cardScroll .hd a.prev {
    background-position: 4px 16px;
    left: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cardScroll .hd a.next:hover {
    background-position: -45px 16px;
}

.cardScroll .hd a.prev:hover {
    background-position: 4px -19px;
}

.cardScroll .bd {
    margin: 0 20px;
}

.pro-card-box li .pro-card {
    width: 240px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    margin-bottom: 55px;
    cursor: pointer;
}

.pro-card .pro-card-tit {
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.pro-card .pro-card-con {
    overflow: hidden;
    padding: 20px 15px 20px;
    background: #fff;
}

.pro-card .pro-card-con>div.fl {
    text-align: center;
    color: #666;
}

.pro-card-con>div.fl span {
    font-size: 28px;
}

.pro-card-con>div.fl p {
    margin: 15px 0 0 12px;
}

.pro-card-con>div.fl p::after {
    content: '|';
    color: #cecece;
    margin-left: 12px;
}

.pro-card-con>div.fl:first-child p {
    margin-left: 0;
}

.pro-card-con>div.fl:last-child p::after {
    content: ' ';
    margin-left: 0;
}

.cardScroll .hd ul {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
}

.cardScroll .hd ul li {
    border: 1px solid #ff6600;
}

.cardScroll .hd ul li.on {
    background: #ff6600!important;
    border: 1px solid #ff6600
}


/************ 我的脚本集 ***********/

.add-script {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 6px auto;
    background-image: url(../img/add_script.png);
    background-position: center;
    background-repeat: no-repeat;
}

.pro-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

.card-op {
    margin-top: 16px;
    display:none;
}

.card-op span {
    float: left;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    background-image: url(../img/card_op.png);
    background-repeat: no-repeat;
}

.card-op span.edit {
    background-position: 0 0px;
}

.card-op span.add {
    background-position: -41px 0px;
}

.card-op span.delete {
    background-position: -76px 0px;
}


/************ 模块列表页面 ***********/

.module-list {
    padding: 20px;
}

.module-list .moduleTable,
.script-list .scriptTable {
    margin-bottom: 20px;
}

.scriptSet {
    padding: 0 20px;
}

.module-list .moduleTable th,
.script-list .scriptTable th,
.scriptSet .scriptTable th{
    font-size:13px;
    line-height: 32px;
    background: #ededed;
    color: #333;
    font-weight: normal;
}

.module-list .moduleTable td,
.script-list .scriptTable td,
.scriptSet .scriptTable td,.selectTable td {
    font-size:13px;
    line-height: 32px;
    color: #666;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
}

.selectTable td{
    border:1px solid #e0e0e0;
    line-height:26px
}

.add-module {
    border: none;
    /* background-color:#1abc9c; */
    line-height: 35px;
    width: 110px;
    padding-left: 22px;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
    background: #1abc9c url(../img/modulelist_icon.png) 12px 10px no-repeat;
}

.add-module:hover {
    background-color: #00af8d;
}

.moduleTable .operate span {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(../img/modulelist_icon.png);
    background-repeat: no-repeat;
    margin: 0 3px;
    cursor:pointer;
}

.moduleTable .operate span.edit {
    background-position: 0px -47px
}

.moduleTable .operate span.delete {
    background-position: -35px -47px
}

.moduleTable .operate span.transfer {
    background-position: -71px -47px
}


/************** 脚本列表 ***************/

.script-list {
    padding: 20px;
}

.script-ops button {
    position: relative;
    background-image: url(../img/script_ops.png);
    background-repeat: no-repeat;
}

.script-ops button>span {
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url(../img/script_ops.png) -218px -6px no-repeat;
    vertical-align: middle;
}

.script-ops button.edit-script-btn {
    background-position: -106px 9px
}

.script-ops button.execute-script-btn {
    background-position: -244px 9px
}

.script-ops button.execute-script-btn:hover ul {
    display: block;
}

.script-ops button ul {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .3);
    width: 100%;
    left: 0;
    z-index: 999;
}

.script-ops button ul li {
    line-height: 35px;
    background-image: url(../img/script_ops.png);
    background-repeat: no-repeat;
    color: #666;
    padding-left: 13px;
}

.script-ops button ul li.e1 {
    background-position: -239px -25px;
}

.script-ops button ul li.e2 {
    background-position: -239px -54px;
}

.script-ops button ul li.e3 {
    background-position: -239px -83px;
}

.script-ops button ul li.e1:hover {
    background-position: -239px 9px;
    background-color: #1abc9c;
    color: #fff;
}

.script-ops button ul li.e2:hover {
    background-position: -137px -54px;
    background-color: #1abc9c;
    color: #fff;
}

.script-ops button ul li.e3:hover {
    background-position: -137px -83px;
    background-color: #1abc9c;
    color: #fff;
}

.script-type {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 18px;
    border: 1px solid #e67e22;
    border-radius: 3px;
}

.script-type span {
    line-height: 18px;
    float: left;
    width: 50%;
    color: #ff6600;
    cursor: pointer;
}

.script-type span.on {
    background: #e67e22;
    color: #fff;
}

.table-rec-btn,
.rec-btn-edit,
.rec-btn-back {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    line-height: 24px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.table-rec-btn {
    background: #e67e22 url(../img/script-table_icon.png) 3px 6px no-repeat;
    padding-left: 15px;
}

.table-rec-btn:hover {
    background-color: #dd6601;
}

.rec-btn-edit {
    background: #3498db;
    margin: 0 2px;
}

.rec-btn-edit:hover {
    background: #078ad3;
}

.rec-btn-back {
    background: #1abc9c;
    margin: 0 2px;
}

.rec-btn-back:hover {
    background: #00af8d;
}

.scriptTable .browser {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/script-table_icon.png) -115px 0 no-repeat;
}

.scriptTable .operate span {
    display: inline-block;
    margin: 0 3px;
    width: 17px;
    height: 17px;
    background-image: url(../img/modulelist_icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.scriptTable .operate span.delete {
    background-position: -35px -47px;
}

.scriptTable .operate span.edit {
    background-position: 0 -47px;
}

.scriptTable .operate span.trend {
    background-position: -105px -47px;
}

.scriptSetInput .input-row>span.fl {
    width: 85px;
    color: #333;
}

.scriptSetInput .radio-box,.radio-td .radio-box {
    line-height: 36px;
}

.scriptSetInput .radio-box input[type='radio'] {
    display: none;
}

.scriptSetInput .radio-box input[type='radio']+span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #b5b5b5;
    vertical-align: middle;
    position: relative;
}

.scriptSetInput .radio-box input[type='radio']+span::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
}

.scriptSetInput .radio-box input[type='radio']:checked+span {
    border-color: #e67e22;
}

.scriptSetInput .radio-box input[type='radio']:checked+span::after {
    background: #e67e22;
}

.selectInput .radio-box{
    line-height:26px;
}
.selectInput .radio-box input[type='radio']+span{
    width: 12px;
    height: 12px;
}
.selectInput .radio-box input[type='radio']+span::after{
    width:6px;
    height:6px;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -3px;
}

div[aria-describedby="scriptSet"] .ui-dialog-title {
    font-size: 14px;
}

div[aria-describedby="scriptSet"] .ui-dialog-title::before {
    content: '公共脚本设置 -- ';
    font-size: 18px;
}

div[aria-describedby="referenceScript"] .ui-dialog-title {
    font-size: 14px;
}
div[aria-describedby="referenceScript"] .ui-dialog-title::before {
    content: '脚本引用 -- ';
    font-size: 18px;
}

.scriptSetTip {
    margin: 15px 0;
}

.scriptSet .scritpTableBox {
    height: 100px;
    /*overflow-y: hidden;*/
}

.scriptSet .scritpTableBox.on {
    height: auto;
    overflow-y: auto;
}

.scriptSetTip span.more {
    position: relative;
    padding-left: 23px;
    line-height: 18px;
    cursor: pointer;
}

.scriptSetTip span.more::after {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    top: 0;
    left: 0px;
    background: url(../img/script_more.png) center no-repeat;
}

.scriptSetTip span.more.show::after {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}


/*********************公共脚本管理*********************/
.public-script .delete-script-btn {
    background-image: url(../img/delete_executeScript.png);
    background-position: 12px center;
}
.public-script-ops button {
    border: none;
    outline: none;
    background-color: #f2f2f2;
    line-height: 35px;
    font-size: 14px;
    color: #1abc9c;
    border-radius: 3px;
    width: 110px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right:10px;
    border: 1px solid #dfdfdf;
}

.public-script-ops button:hover,.public-script-ops .active {
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #fff;
}


.public-script-ops .active:hover{
    background-color: #00af8d;
}

.public-script-ops button.addPublicScript {
    padding-left: 20px;
    width: 130px;
    color:#fff;
    border: 1px solid #1abc9c;
    background: #1abc9c url(../img/addPublic_script.png) 10px center no-repeat;
}

.public-script-ops button.addPublicScript:hover {
    background-color: #00af8d;
}

.public-script .scriptTable {
    table-layout: fixed;
    overflow: hidden;
}

.public-script .scriptTable td p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/********************执行列表********************/

.execute .left-title div.fr {
    margin-right: 17px;
}

.execute-list .delete-script-btn {
    background-image: url(../img/delete_executeScript.png);
    background-position: 12px center;
}

.execute .left-title span {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 3px;
    cursor: pointer;
    background: url(../img/executeList_ops.png) no-repeat;
}

.execute .left-title .add-executeList {
    background-position: 0 0;
}

.execute .left-title .edit-executeList {
    background-position: -24px 0;
}

.execute .left-title .delete-executeList {
    background-position: -48px 0;
}

.execute .class-a:nth-child(1) a {
    background-image: url(../img/executeList_icon.png);
    background-position: 23px center;
}

.execute .class-a:nth-child(2) a {
    background-image: url(../img/executeList_icon_1.png);
    background-position: 23px center;
}

.execute-list {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0;
    right: 0;
}

.execute-list .table-body {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 110px;
    overflow-y: scroll;
}

.execute-list .scriptTable,
.execute-addScript .table-head .scriptTable,
.execute-addScript .table-body .scriptTable {
    table-layout: fixed
}

.execute-list .scriptTable td,
.execute-addScript .table-head .scriptTable td,.selectTable td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.execute-addScript .table-head {
    overflow-y: scroll;
    margin-top: 20px;
}

.execute-addScript .table-body {
    /*overflow-y: scroll;*/
    max-height: 68px;
}


/********************* 录制页面 *****************/

.recording {
    position: absolute;
    width: 720px;
    top: 25%;
    left: 50%;
    margin-left: -360px;
}

.recording .logo {
    text-align: center;
}

.recording .logo p {
    color: #666;
    margin-top: 12px;
}

.recording .http {
    margin-top: 50px;
}

.recording .http span {
    width: 105px;
    background: #e67e22;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.recording .http input {
    border: 1px solid #f1f1f1;
    border-left: none;
    line-height: 48px;
    width: 475px;
    padding-left: 15px;
    outline: none;
    font-size: 18px;
}

.recording .http button {
    width: 112px;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding-left: 25px;
    background: #e67e22 url(../img/recording_btn.png) 12px center no-repeat;
    outline: none;
    cursor: pointer;
}

.recording .http button:hover {
    background-color: #dc7316;
}


/*************** 分页样式 **************/

.page-con {
    text-align: center;
    display:none;
}

.page {
    overflow: hidden;
    display: inline-block;
}

.page li {
    float: left;
    line-height: 22px;
    margin-right: 4px;
}

.page a {
    display: inline-block;
    color: #666;
    padding: 0 10px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ddd;
    text-align: center;
}

.page a:hover,
.page .click {
    background: #e67e22;
    color: #fff;
}

.changeScriptType p {
    padding: 30px 0;
    font-size: 18px;
    color: #333;
    text-align: center
}

.ui-dialog .ui-dialog-buttonpane button {
    padding: 9px 23px 9px 45px !important;
}

.ui-dialog .ui-dialog-buttonpane button:first-child {
    background: #1abc9c url(../img/btn.png) 24px 11px no-repeat !important;
    margin-left:30px;
}

.ui-dialog .ui-dialog-buttonpane button:last-child {
    background: #fff url(../img/btn.png) -81px 10px no-repeat !important;
}

.alert-con{
    width:90px;
    height:38px;
    top:40%;
    left:50%;
    display:none;
    font-size:16px;
    line-height:38px;
    padding-left:50px;
    border-radius:4px;
    margin-left:-65px;
    border:1px solid #cfcfcf;
}
.success-info{
    background:url(../img/success.png) no-repeat 15px center #f3f3f3;
}
.fail-info{
    background:url(../img/fail.png) no-repeat 15px center #f3f3f3;
}
.rights-info{
    background:url(../img/fail.png) no-repeat 15px center #f3f3f3;
    width:175px;
}

/* 11-29左右两侧间隙修改及图标文字大小调整 */
.containter>.main {
    width: auto;
    top: 85px;
    bottom: 40px;
    left: 25px;
    right: 25px;
    margin-left: 0;
}

.main .right {
    left: 345px;
}

.left .left-title {
    font-size: 16px;
    line-height: 42px;
}

.right .right-top {
    height: 42px;
}

.right-top .right-top-title {
    font-size: 16px;
    line-height: 42px;
}

.left .left-con {
    top: 42px;
}

.left .class-b a>span.menu-arrow {
    margin-top: 16px;
}

.left .class-a>a {
    line-height: 42px;
    font-size: 14px;
}

.left .class-b>li>a {
    line-height: 42px;
    font-size: 13px;
}

.left .class-c>li>a {
    font-size: 13px;
}

.left .class-d>li>a {
    line-height: 36px;
    font-size: 13px;
}

.left .class-b a>span.menu-arrow {
    margin-top: 14px;
}

.left a>.menu-arrow {
    margin-top: 16px;
}


.my-project .left-title{
    background:url(../img/modify_1.png) no-repeat 20px center #e67e22;
}
/*.my-project .class-a>a{
    background:url(../img/modify_2.png) no-repeat 20px center #ffeee3;
}
*/